.wrapper.wrapper-content.animated.fadeInRight {
    width: 90%;
    margin: auto;
    background: #33333312;
    padding: 5px;
    border-radius: 10px;
}
table.shoping-cart-table {
    margin-bottom: 0;
     padding: 10px !IMPORTANT;
    border: 1px solid #ddd;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 18px;
    overflow: hidden;
    color: #333;
}