#filter_c{
    z-index: 10000;
    height: 66px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 60px;
    overflow: hidden;
    padding: 0px !IMPORTANT;

}