// #preview .ant-drawer-content-wrapper {
//     border-top-left-radius: 20px !important;
//     border-top-right-radius: 20px !important;
//     overflow: hidden;
// }
// .ant-drawer-content-wrapper{
//     height: 62% !important;
//     border-top-left-radius: 20px  !important;
//     overflow: hidden;
//     border-top-right-radius: 20px  !important;
//     background : none;
// }
// .smilar {
//     position: fixed;
//     top: 0px;
//     background: #333;
//     color: #fff;
//     width: 100%;
//     height: 20%;
//     left: 0px;
// }
// :where(.css-dev-only-do-not-override-k83k30).ant-drawer-bottom>.ant-drawer-content-wrapper {
//     height: 100% !IMPORTANT;
//     box-shadow: none !important;
//     bottom: 0;
// }
div#p_img {
    background-image: url(https://i.ibb.co/N3BN1bh/red-polka-dot-dress.png);
    height: 600px;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-attachment: fixed;
}
button.ant-modal-close {
    position: unset;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    background: none;
}
.ant-modal-content {
    padding: 0px !important;
}
 
button.ant-modal-close {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 10px !important;
    padding-bottom: 6px   !important;
}
 @media(max-width:768px){
  .grid.w-full.grid-cols-1.items-start.gap-y-8.gap-x-6.sm\:grid-cols-12.lg\:gap-x-8 {
    padding-bottom: 44px !IMPORTANT;
}
.info_pe{
  padding-left:16px
}
 }
.customize {
    width: 50% !IMPORTANT;
}
.leftPopUp {
    z-index: 100000;
    width: 69%;
    top: 0px;
    left: 34%;
    height: 100%;
    transform: translate(-50%, 0%);
    padding: 20px !important;
    display: flex;
    align-items: center;
    /* height: 706px !important; */
    overflow: auto !important;
    flex-direction: column;
    position: fixed;
}
.product_add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}.modal-footer {
    padding: 0px;
border: 0px;
  }
  .preview_button {
    background: #ffffff75;
    height: 20px;
    width: -webkit-fill-available;
    margin: auto;
    padding: 20px !important;
    color: #000 !important;
    border: 1px solid #dddde0!important;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin-bottom:20px !important;

  &:hover{
    background: #eee  important;
  }
  svg {
    width: 26px;
    margin-left: 10px;
  }
 }
.i_number{
  height: 40px;
  border-radius: 0px !important;
  border: 1px solid #eee !important;
  background-color: #fff;
  border-radius: 11px !IMPORTANT;
  align-self: center;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
  height: 32px;
}
.nav-tabs .nav-link {
    margin-bottom: calc(var(--bs-nav-tabs-border-width) * -1);
    background: 0 0;
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
    border: 0px;
}
.image_header_preview {
  position: absolute;
  top: 5px;
  right: 4px;
  border-radius: 6%;
  color: #ddd !important;
  overflow: hidden;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  color: #333 !important;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: flex-end;
 i {
    background: #fff;
    padding: 10px !IMPORTANT;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 1px;
}
}

.picker {
  display: flex !IMPORTANT;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2px;
  justify-content: center;
  margin-block-end: 1rem;
  border: 0px;
  /* border-radius: 0.5rem; */
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  /* background: #fff; */
  width: fit-content;
  padding: 5px;
  border-radius: 13px;
  height: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
  .p {
    text-transform: lowercase !IMPORTANT;
    padding: 13px;
    border-radius: 10px;
    color: #000000;
    font-family: emoji;
    text-align: left;
    padding-left: 0px;
    text-transform: uppercase;
    font-size: smaller;
    margin: 0px;
    font-family: 'Source Sans Pro';
    color: #232121;
}
  .picker legend {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .15em;
    padding-inline: .5rem;
  }
  
  .picker label {
    position: relative;
    inline-size: 3rem;
    block-size: 3rem;
    isolation: isolate;
    display: grid;
    place-items: center;
    margin: 0px;
    padding: 0px;
    height: 20px;
  }
  
  .picker label > span {  
    position: absolute;
    inset: 0;
    block-size: 100%;
    inline-size: 100%;
  }
  
  .picker label > input:focus ~ span {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
  }
  
  /* Size pickers */
  .av {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
     padding-left: 10px;
    border-radius: 10px;
    margin: 6px;
    height: 38px;
    overflow: hidden;
}
  label[for*=size] > span {
    font-size: 12px;
    line-height: 1;
    display: grid;
    place-items: center;
    padding: 10pz;
    background-color: #fff;
    border-radius: 0.25rem;
    height: 32px;
}
  
  label[for*=size] > input:checked ~ span {
    background-color: #333;
    color: #eee;
}

 
.let-right-buttons {
  position: fixed;
  left: -79px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  width: 86%;
  top: 77%;
  left: 7%;
  transform: translateY(-50%);
 
  button {
    font-size: 34px;
    /* background: #fff; */
    font-size: 24px;
    /* background: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 16px;
    width: fit-content;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: rgba(238, 238, 238, 0.4196078431);
    border-radius: 5px;
    background: #333;
    color: #fff;
    &:hover{
      background: #fff;
    }
}
}
.modal-header{
  border:0px;
  padding: 10px;
}
#i   img {
  height: 500px !IMPORTANT;
  margin: 11px;
}
.info_pe {
  background: rgba(255, 255, 255, 0.368627451);
  margin-top: auto;
  height: 489px;
  border-radius: 0px;
  margin-top: 3px;
  align-self: flex-end;
  padding: 6px;
  padding-right: 31px;
  &::-webkit-scrollbar-thumb:hover {
      background: #333; 
      display: none   !important; 

    }
    &::-webkit-scrollbar {
      width: 0px;
      display: none I !important;
    }
}
.modal-content {
  border-radius: 0px;
  border-bottom: 1px solid;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mt-6.revi {
  margin: 0px;
  margin-bottom: 13px;
  /* border-bottom: 1px solid; */
  padding-bottom: 10px;
}
.modal-body ,.modal-header{
  background: #f8f9fb;
  padding: 0px;
}

p.pro_desc {
  color: #000;
  font-family: emoji;
  text-transform: capitalize;
  text-shadow: 0 0 white;
  font-family: ui-sans-serif;
   padding: 10px;
  border-radius: 6px;
}
@media(max-width:768px){
  .let-right-buttons{
    display: none;
  }
  .image_p{
   
    background:none
    
  }
  .info_pe {
    background: rgba(255, 255, 255, 0.368627451);
    margin-top: auto;
    height: 495px;
    border-radius: 0px;
    margin-top: 3px;
    align-self: flex-end;
    padding-right: 10px;
    padding: 29px;
    overflow: auto;
    height: auto;
}
p.pro_desc {
  color: #000;
  font-family: emoji;
  text-transform: capitalize;
   font-family: ui-sans-serif;
  background: #ffffff54;
  padding: 10px;
  border-radius: 6px;
}
.picker label {
  position: relative;
  inline-size: 37px;
  block-size: 37px;
  isolation: isolate;
  display: grid;
  place-items: center;
}
.border_top_mobile {
  height: 3px;
  width: 40px;
  background: gray;
  margin: 0px auto;
  margin-bottom: 22px;
  margin-top: -23px;
  border-radius: 21px;
}
.product_add button {
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: auto;
  padding-left: 6px !IMPORTANT;
  margin: 0px 10px;

}
.product_add {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;
  background: #ffffff !important;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 8px;
  width: 89%;
  margin: auto;
  left: 51%;
  transform: translateX(-52%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #dee2e6;
  border-radius: 14px;
  width: 95%;
  
}
.i_number {
  height: 40px;
  border-radius: 0px !important;
  border: 1px solid #eee !important;
  background-color: #fff;
  border-radius: 11px !IMPORTANT;
  align-self: center;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
  height: 32px;
}
#preview.modal-content {
  border-radius: 0px;
  border-bottom: 1px solid;
  overflow: hidden;
  border: 1px solid #eee !IMPORTANT;
  border-radius: 10px;
  padding-right: 1px;
}
.he_pre{
  margin:auto
}
 
}


@media(max-width:768px){
  .ant-space.css-dev-only-do-not-override-k83k30.ant-space-horizontal.ant-space-align-center.tabs_conta {
    width: 100%;
    margin: 10px 0px;
    margin-bottom: 50px;
     flex-wrap: wrap;
     margin-bottom: 60px
     ;
     align-items: center
     ;
     justify-content: center
    
    
    ;
  
    &::-webkit-scrollbar{
      height: 1px;
      display: none;
    }
    .ant-tag{
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100px;
    }
  }
}

