.Date_container{
    align-items: center;
    justify-content: space-between;
    // width: 500px;
    margin-bottom: 10px;
    p{
        align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 10px;
    }
}